nav {
    background-color: #add8e6;
}
.logo{
    padding: 10px;
}

.logo img {
    height: 30px;
}

.button-nav {
    background-color: #42b0dff0; 
}

.color-menu-name {
    color: #fff;
}

.profile {
    padding: 10px;
    width: 300px;
}

.profile li:first-child {
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 2px;
}

.row-header h1 {
    margin: 0;
    font-size: 3em;
}

.search {
    margin-top: 12px;
}

.data-hotels {
    margin-top: 30px;
}

.data-hotels td {
    text-align: center;
}

.btn-continue-hotel {
    margin-right: 0px;
}

.block-pagination .pagination {
    margin: 0;
}

@media (max-width: 767px) {
    .profile {
        color: #fff
    }
    
    .profile a {
        color: #337ab7;
        display: block;
        padding: 10px;
    }

    .profile a:hover {
        color: #0a467c
    }

    .block-pagination .pagination {
        margin-top: 30px;
    }
}