nav {
    background-color: rgb(173, 213, 230);
}
.logotipo{
    padding: 10px;
}

.logotipo img {
    height: 30px;
}

.color-button-nav {
    background-color: rgb(66,176,223);
}

.color-menu-name {
    color: #fff;
}